{
  "openapi": "3.0.3",
  "info": {
    "title": "WeightWatchers Mobile API (WeightWatchers namespaces only)",
    "version": "11.5.1-decompile-snapshot",
    "description": "Auto-generated from decompiled Android APK Retrofit interfaces. Not official, may be incomplete or stale. Validate every write endpoint in a sandbox account first."
  },
  "servers": [
    {
      "url": "https://cmx.weightwatchers.de",
      "description": "CMX Germany"
    },
    {
      "url": "https://cmx.weightwatchers.com",
      "description": "CMX US"
    },
    {
      "url": "https://auth.weightwatchers.de",
      "description": "Auth Germany"
    },
    {
      "url": "https://auth.weightwatchers.com",
      "description": "Auth US"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "TrackItemRequest": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "versionId": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "timeOfDay": {
            "type": "string",
            "enum": [
              "MORNING",
              "MIDDAY",
              "EVENING",
              "ANYTIME",
              "UNKNOWN"
            ]
          },
          "portionSize": {
            "type": "number"
          },
          "portionId": {
            "type": "string"
          },
          "mealId": {
            "type": "string",
            "nullable": true
          },
          "mealVersionId": {
            "type": "string",
            "nullable": true
          },
          "mealType": {
            "type": "string",
            "nullable": true
          },
          "entryId": {
            "type": "string",
            "nullable": true
          },
          "isQuickAdd": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "_id",
          "versionId",
          "sourceType",
          "timeOfDay",
          "portionSize"
        ]
      }
    }
  },
  "paths": {
    "/account/auto-login/v3/e/auth": {
      "post": {
        "operationId": "verifyKey_0",
        "summary": "POST /account/auto-login/v3/e/auth",
        "description": "Extracted from `com/weightwatchers/foundation/auth/networking/elevatedlogin/ElevatedLoginApi.java:27` (`verifyKey`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/foundation/auth/networking/elevatedlogin/ElevatedLoginApi.java",
        "x-source-line": 27,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/auto-login/v3/e/key": {
      "post": {
        "operationId": "sendEmail_1",
        "summary": "POST /account/auto-login/v3/e/key",
        "description": "Extracted from `com/weightwatchers/foundation/auth/networking/elevatedlogin/ElevatedLoginApi.java:19` (`sendEmail`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/foundation/auth/networking/elevatedlogin/ElevatedLoginApi.java",
        "x-source-line": 19
      }
    },
    "/account/auto-login/v3/l/jwt": {
      "post": {
        "operationId": "magicLinkAuth_2",
        "summary": "POST /account/auto-login/v3/l/jwt",
        "description": "Extracted from `com/weightwatchers/login/networking/LoginEntryPointApi.java:35` (`magicLinkAuth`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/login/networking/LoginEntryPointApi.java",
        "x-source-line": 35,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/auto-login/v3/l/key": {
      "post": {
        "operationId": "magicLinkLogin_3",
        "summary": "POST /account/auto-login/v3/l/key",
        "description": "Extracted from `com/weightwatchers/login/networking/LoginEntryPointApi.java:39` (`magicLinkLogin`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/login/networking/LoginEntryPointApi.java",
        "x-source-line": 39,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/auto-login/v3/q/jwt": {
      "post": {
        "operationId": "getToken_4",
        "summary": "POST /account/auto-login/v3/q/jwt",
        "description": "Extracted from `com/weightwatchers/foundation/auth/autologin/api/AutologinApi.java:16` (`getToken`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/foundation/auth/autologin/api/AutologinApi.java",
        "x-source-line": 16,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/auth-exchange/pvolve": {
      "post": {
        "operationId": "exchangeToken_5",
        "summary": "POST /account/v1/auth-exchange/pvolve",
        "description": "Extracted from `com/weightwatchers/pvolve/data/PvolveApi.java:13` (`exchangeToken`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/pvolve/data/PvolveApi.java",
        "x-source-line": 13
      }
    },
    "/account/v1/check/email": {
      "post": {
        "operationId": "checkEmailAsync_6",
        "summary": "POST /account/v1/check/email",
        "description": "Extracted from `com/weightwatchers/foundation/auth/validation/email/EmailValidationApi.java:16` (`checkEmailAsync`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/foundation/auth/validation/email/EmailValidationApi.java",
        "x-source-line": 16,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/check/login": {
      "post": {
        "operationId": "checkCredential_7",
        "summary": "POST /account/v1/check/login",
        "description": "Extracted from `com/weightwatchers/login/networking/LoginEntryPointApi.java:27` (`checkCredential`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/login/networking/LoginEntryPointApi.java",
        "x-source-line": 27,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/check/username-email": {
      "post": {
        "operationId": "verifyUsernameLinkedWithEmail_8",
        "summary": "POST /account/v1/check/username-email",
        "description": "Extracted from `com/weightwatchers/login/networking/LoginEntryPointApi.java:47` (`verifyUsernameLinkedWithEmail`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/login/networking/LoginEntryPointApi.java",
        "x-source-line": 47,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/profile/register": {
      "post": {
        "operationId": "registerUser_9",
        "summary": "POST /account/v1/profile/register",
        "description": "Extracted from `com/weightwatchers/signup/common/api/RegistrationApi.java:16` (`registerUser`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/signup/common/api/RegistrationApi.java",
        "x-source-line": 16,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/profile/register/recurly": {
      "post": {
        "operationId": "Headers_10",
        "summary": "POST /account/v1/profile/register/recurly",
        "description": "Extracted from `com/weightwatchers/foundation/auth/user/RecurlySyncApi.java:16` (`Headers`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/foundation/auth/user/RecurlySyncApi.java",
        "x-source-line": 16
      }
    },
    "/account/v1/recovery/token/request": {
      "post": {
        "operationId": "requestEmailCode_11",
        "summary": "POST /account/v1/recovery/token/request",
        "description": "Extracted from `com/weightwatchers/growth/accountrecovery/service/AccountRecoveryApiV2.java:22` (`requestEmailCode`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/growth/accountrecovery/service/AccountRecoveryApiV2.java",
        "x-source-line": 22,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/recovery/token/validate": {
      "post": {
        "operationId": "validateCode_12",
        "summary": "POST /account/v1/recovery/token/validate",
        "description": "Extracted from `com/weightwatchers/growth/accountrecovery/service/AccountRecoveryApiV2.java:30` (`validateCode`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/growth/accountrecovery/service/AccountRecoveryApiV2.java",
        "x-source-line": 30,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/recovery/update/password": {
      "post": {
        "operationId": "updatePassword_13",
        "summary": "POST /account/v1/recovery/update/password",
        "description": "Extracted from `com/weightwatchers/growth/accountrecovery/service/AccountRecoveryApiV2.java:26` (`updatePassword`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/growth/accountrecovery/service/AccountRecoveryApiV2.java",
        "x-source-line": 26,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/signup/settings/rules": {
      "get": {
        "operationId": "Headers_14",
        "summary": "GET /account/v1/signup/settings/rules",
        "description": "Extracted from `com/weightwatchers/signup/common/api/RegistrationRulesApi.java:16` (`Headers`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/signup/common/api/RegistrationRulesApi.java",
        "x-source-line": 16
      }
    },
    "/account/v1/sso/auth": {
      "post": {
        "operationId": "ssoAuth_15",
        "summary": "POST /account/v1/sso/auth",
        "description": "Extracted from `com/weightwatchers/login/networking/LoginEntryPointApi.java:43` (`ssoAuth`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/login/networking/LoginEntryPointApi.java",
        "x-source-line": 43,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/sso/elevated": {
      "post": {
        "operationId": "getElevatedTokenViaSso_16",
        "summary": "POST /account/v1/sso/elevated",
        "description": "Extracted from `com/weightwatchers/foundation/auth/networking/elevatedlogin/ElevatedLoginApi.java:15` (`getElevatedTokenViaSso`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/foundation/auth/networking/elevatedlogin/ElevatedLoginApi.java",
        "x-source-line": 15,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/account/v1/sso/link": {
      "post": {
        "operationId": "linkSsoProvider_17",
        "summary": "POST /account/v1/sso/link",
        "description": "Extracted from `com/weightwatchers/login/networking/LoginEntryPointApi.java:31` (`linkSsoProvider`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/login/networking/LoginEntryPointApi.java",
        "x-source-line": 31,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/reminders": {
      "get": {
        "operationId": "getReminders_18",
        "summary": "GET /api/reminders",
        "description": "Extracted from `com/weightwatchers/notifications/reminders/service/NotificationReminderService.java:30` (`getReminders`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/notifications/reminders/service/NotificationReminderService.java",
        "x-source-line": 30,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createReminder_19",
        "summary": "POST /api/reminders",
        "description": "Extracted from `com/weightwatchers/notifications/reminders/service/NotificationReminderService.java:20` (`createReminder`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/notifications/reminders/service/NotificationReminderService.java",
        "x-source-line": 20,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/reminders/{schedule_id}": {
      "delete": {
        "operationId": "deleteReminder_20",
        "summary": "DELETE /api/reminders/{schedule_id}",
        "description": "Extracted from `com/weightwatchers/notifications/reminders/service/NotificationReminderService.java:25` (`deleteReminder`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/notifications/reminders/service/NotificationReminderService.java",
        "x-source-line": 25,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "updateReminder_21",
        "summary": "PUT /api/reminders/{schedule_id}",
        "description": "Extracted from `com/weightwatchers/notifications/reminders/service/NotificationReminderService.java:34` (`updateReminder`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/notifications/reminders/service/NotificationReminderService.java",
        "x-source-line": 34,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v0/member/appointment": {
      "delete": {
        "operationId": "cancelRsvp_22",
        "summary": "DELETE /api/v0/member/appointment",
        "description": "Extracted from `com/weightwatchers/workshop/rsvp/api/WorkshopRsvpService.java:17` (`cancelRsvp`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/workshop/rsvp/api/WorkshopRsvpService.java",
        "x-source-line": 17,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/assessments/all-statuses": {
      "get": {
        "operationId": "getAssessmentCompletionStatuses_23",
        "summary": "GET /api/v1/assessments/all-statuses",
        "description": "Extracted from `com/weightwatchers/onboarding/welcome/data/api/WelcomeApi.java:13` (`getAssessmentCompletionStatuses`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/onboarding/welcome/data/api/WelcomeApi.java",
        "x-source-line": 13,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/assessments/~/variants/{variantId}/answers": {
      "post": {
        "operationId": "postZpfMixAllAnswers_24",
        "summary": "POST /api/v1/assessments/~/variants/{variantId}/answers",
        "description": "Extracted from `com/weightwatchers/onboarding/zpfassessment/newmembers/data/api/AssessmentApi.java:21` (`postZpfMixAllAnswers`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/onboarding/zpfassessment/newmembers/data/api/AssessmentApi.java",
        "x-source-line": 21,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/assessments/~/variants/{variantId}/results-only": {
      "post": {
        "operationId": "postZpfMixAllAnswersResultOnly_25",
        "summary": "POST /api/v1/assessments/~/variants/{variantId}/results-only",
        "description": "Extracted from `com/weightwatchers/onboarding/zpfassessment/newmembers/data/api/AssessmentApi.java:25` (`postZpfMixAllAnswersResultOnly`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/onboarding/zpfassessment/newmembers/data/api/AssessmentApi.java",
        "x-source-line": 25,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/chat_groups": {
      "post": {
        "operationId": "createChannel_26",
        "summary": "POST /api/v1/chat_groups",
        "description": "Extracted from `com/weightwatchers/wwchat/common/data/ChatGroupsApi.java:18` (`createChannel`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/wwchat/common/data/ChatGroupsApi.java",
        "x-source-line": 18,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/chat_groups/{channel_url}/members": {
      "post": {
        "operationId": "joinChannel_27",
        "summary": "POST /api/v1/chat_groups/{channel_url}/members",
        "description": "Extracted from `com/weightwatchers/wwchat/common/data/ChatGroupsApi.java:22` (`joinChannel`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "channel_url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/wwchat/common/data/ChatGroupsApi.java",
        "x-source-line": 22,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/cmx-search/search-recommendations": {
      "get": {
        "operationId": "getPopularSearchRecommendationsRx_29",
        "summary": "GET /api/v1/cmx-search/search-recommendations",
        "description": "Extracted from `com/weightwatchers/search/retrofit/SegmentedSearchPersonalizationService.java:25` (`getPopularSearchRecommendationsRx`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/search/retrofit/SegmentedSearchPersonalizationService.java",
        "x-source-line": 25,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/cmx-search/segments": {
      "get": {
        "operationId": "getSearchResultsWithSegmentedSearchPersonalizationRx_31",
        "summary": "GET /api/v1/cmx-search/segments",
        "description": "Extracted from `com/weightwatchers/search/retrofit/SegmentedSearchPersonalizationService.java:33` (`getSearchResultsWithSegmentedSearchPersonalizationRx`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "queryMap",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/search/retrofit/SegmentedSearchPersonalizationService.java",
        "x-source-line": 33,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/cmx/members/~/sleep": {
      "get": {
        "operationId": "getSleepData_32",
        "summary": "GET /api/v1/cmx/members/~/sleep",
        "description": "Extracted from `com/weightwatchers/sleep/data/repos/SleepCmxService.java:25` (`getSleepData`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "single",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/sleep/data/repos/SleepCmxService.java",
        "x-source-line": 25,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "trackSleep_33",
        "summary": "POST /api/v1/cmx/members/~/sleep",
        "description": "Extracted from `com/weightwatchers/sleep/data/repos/SleepCmxService.java:28` (`trackSleep`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/sleep/data/repos/SleepCmxService.java",
        "x-source-line": 28,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/cmx/members/~/sleep/{id}": {
      "delete": {
        "operationId": "deleteSleep_34",
        "summary": "DELETE /api/v1/cmx/members/~/sleep/{id}",
        "description": "Extracted from `com/weightwatchers/sleep/data/repos/SleepCmxService.java:20` (`deleteSleep`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/sleep/data/repos/SleepCmxService.java",
        "x-source-line": 20,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/cmx/members/~/water/{date}": {
      "delete": {
        "operationId": "deleteWaterLogForDate_35",
        "summary": "DELETE /api/v1/cmx/members/~/water/{date}",
        "description": "Extracted from `com/weightwatchers/water/watertracker/data/WaterTrackerService.java:19` (`deleteWaterLogForDate`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/water/watertracker/data/WaterTrackerService.java",
        "x-source-line": 19,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "operationId": "getWaterLogForDate_36",
        "summary": "GET /api/v1/cmx/members/~/water/{date}",
        "description": "Extracted from `com/weightwatchers/water/watertracker/data/WaterTrackerService.java:23` (`getWaterLogForDate`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/water/watertracker/data/WaterTrackerService.java",
        "x-source-line": 23,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "postWaterLogForDate_37",
        "summary": "POST /api/v1/cmx/members/~/water/{date}",
        "description": "Extracted from `com/weightwatchers/water/watertracker/data/WaterTrackerService.java:27` (`postWaterLogForDate`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/water/watertracker/data/WaterTrackerService.java",
        "x-source-line": 27,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/cmx/members/~/weightEntries": {
      "post": {
        "operationId": "createWeightEntry_38",
        "summary": "POST /api/v1/cmx/members/~/weightEntries",
        "description": "Extracted from `com/weightwatchers/weight/common/service/CmxWeightService.java:20` (`createWeightEntry`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/weight/common/service/CmxWeightService.java",
        "x-source-line": 20,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/cmx/members/~/weightEntries/{date}/{weightEntryId}": {
      "delete": {
        "operationId": "deleteWeightEntry_39",
        "summary": "DELETE /api/v1/cmx/members/~/weightEntries/{date}/{weightEntryId}",
        "description": "Extracted from `com/weightwatchers/weight/common/service/CmxWeightService.java:24` (`deleteWeightEntry`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "weightEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/weight/common/service/CmxWeightService.java",
        "x-source-line": 24,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "updateWeightEntry_40",
        "summary": "PUT /api/v1/cmx/members/~/weightEntries/{date}/{weightEntryId}",
        "description": "Extracted from `com/weightwatchers/weight/common/service/CmxWeightService.java:28` (`updateWeightEntry`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "weightEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/weight/common/service/CmxWeightService.java",
        "x-source-line": 28,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/comments/{commentId}/likes": {
      "delete": {
        "operationId": "destroyCommentLike_41",
        "summary": "DELETE /api/v1/comments/{commentId}/likes",
        "description": "Extracted from `com/weightwatchers/community/connect/replies/network/ReplyService.java:30` (`destroyCommentLike`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/connect/replies/network/ReplyService.java",
        "x-source-line": 30,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "operationId": "getCommentLikes_42",
        "summary": "GET /api/v1/comments/{commentId}/likes",
        "description": "Extracted from `com/weightwatchers/community/connect/likedusers/network/LikedUserService.java:16` (`getCommentLikes`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/connect/likedusers/network/LikedUserService.java",
        "x-source-line": 16,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "likeComment_43",
        "summary": "POST /api/v1/comments/{commentId}/likes",
        "description": "Extracted from `com/weightwatchers/community/connect/replies/network/ReplyService.java:42` (`likeComment`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/connect/replies/network/ReplyService.java",
        "x-source-line": 42,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/groups/{group_id}/next": {
      "get": {
        "operationId": "getGroupNextVideoPosts_44",
        "summary": "GET /api/v1/groups/{group_id}/next",
        "description": "Extracted from `com/weightwatchers/community/feed/videoroll/network/VideoPostService.java:16` (`getGroupNextVideoPosts`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "post_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/feed/videoroll/network/VideoPostService.java",
        "x-source-line": 16,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/groups/{group_id}/posts": {
      "post": {
        "operationId": "createGroupPost_45",
        "summary": "POST /api/v1/groups/{group_id}/posts",
        "description": "Extracted from `com/weightwatchers/community/post/data/network/PostService.java:31` (`createGroupPost`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/post/data/network/PostService.java",
        "x-source-line": 31,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/groups/{group_id}/posts/recent?iv=1&iuv=1&sort=-created_at": {
      "get": {
        "operationId": "getPostsForGroup_46",
        "summary": "GET /api/v1/groups/{group_id}/posts/recent?iv=1&iuv=1&sort=-created_at",
        "description": "Extracted from `com/weightwatchers/community/post/data/network/PostService.java:76` (`getPostsForGroup`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isp",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/post/data/network/PostService.java",
        "x-source-line": 76,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/groups/{group_id}/posts/{post_id}/pin": {
      "put": {
        "operationId": "pinPost_47",
        "summary": "PUT /api/v1/groups/{group_id}/posts/{post_id}/pin",
        "description": "Extracted from `com/weightwatchers/community/post/data/network/PostService.java:101` (`pinPost`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/post/data/network/PostService.java",
        "x-source-line": 101,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/groups/{group_id}/posts/{post_id}/unpin": {
      "put": {
        "operationId": "unpinPost_48",
        "summary": "PUT /api/v1/groups/{group_id}/posts/{post_id}/unpin",
        "description": "Extracted from `com/weightwatchers/community/post/data/network/PostService.java:113` (`unpinPost`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/post/data/network/PostService.java",
        "x-source-line": 113,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/groups/{group_id}/tags/{tag}/posts?iv=1&iuv=1": {
      "get": {
        "operationId": "getGroupPostsForTag_49",
        "summary": "GET /api/v1/groups/{group_id}/tags/{tag}/posts?iv=1&iuv=1",
        "description": "Extracted from `com/weightwatchers/community/post/data/network/PostService.java:60` (`getGroupPostsForTag`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/post/data/network/PostService.java",
        "x-source-line": 60,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/member/appointment": {
      "post": {
        "operationId": "postRsvp_50",
        "summary": "POST /api/v1/member/appointment",
        "description": "Extracted from `com/weightwatchers/workshop/rsvp/api/WorkshopRsvpService.java:21` (`postRsvp`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/workshop/rsvp/api/WorkshopRsvpService.java",
        "x-source-line": 21,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/member/grocery-list": {
      "get": {
        "operationId": "getGroceryLists_51",
        "summary": "GET /api/v1/member/grocery-list",
        "description": "Extracted from `com/weightwatchers/food/grocerylist/data/GroceryListService.java:29` (`getGroceryLists`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/food/grocerylist/data/GroceryListService.java",
        "x-source-line": 29,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/member/grocery-list/ingredients": {
      "delete": {
        "operationId": "removeSelectedGroceryIngredients_52",
        "summary": "DELETE /api/v1/member/grocery-list/ingredients",
        "description": "Extracted from `com/weightwatchers/food/grocerylist/data/GroceryListService.java:32` (`removeSelectedGroceryIngredients`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/food/grocerylist/data/GroceryListService.java",
        "x-source-line": 32,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/member/grocery-list/instacart": {
      "get": {
        "operationId": "getGroceryListInstacartUrl_53",
        "summary": "GET /api/v1/member/grocery-list/instacart",
        "description": "Extracted from `com/weightwatchers/food/grocerylist/data/GroceryListService.java:25` (`getGroceryListInstacartUrl`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/food/grocerylist/data/GroceryListService.java",
        "x-source-line": 25,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/member/grocery-list/recipes": {
      "delete": {
        "operationId": "removeSelectedGroceryRecipes_54",
        "summary": "DELETE /api/v1/member/grocery-list/recipes",
        "description": "Extracted from `com/weightwatchers/food/grocerylist/data/GroceryListService.java:36` (`removeSelectedGroceryRecipes`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/food/grocerylist/data/GroceryListService.java",
        "x-source-line": 36,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/member/grocery-list/recipes/{recipeId}": {
      "post": {
        "operationId": "addToGroceryList_55",
        "summary": "POST /api/v1/member/grocery-list/recipes/{recipeId}",
        "description": "Extracted from `com/weightwatchers/food/grocerylist/data/GroceryListService.java:20` (`addToGroceryList`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "recipeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/food/grocerylist/data/GroceryListService.java",
        "x-source-line": 20,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/notifications/badge_count": {
      "get": {
        "operationId": "getBadgeCount_56",
        "summary": "GET /api/v1/notifications/badge_count",
        "description": "Extracted from `com/weightwatchers/community/connect/notifications/service/NotificationService.java:25` (`getBadgeCount`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/connect/notifications/service/NotificationService.java",
        "x-source-line": 25,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/notifications/clear_badge": {
      "put": {
        "operationId": "clearBadgeCount_57",
        "summary": "PUT /api/v1/notifications/clear_badge",
        "description": "Extracted from `com/weightwatchers/community/connect/notifications/service/NotificationService.java:21` (`clearBadgeCount`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/connect/notifications/service/NotificationService.java",
        "x-source-line": 21,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/notifications/read": {
      "post": {
        "operationId": "readNotifications_58",
        "summary": "POST /api/v1/notifications/read",
        "description": "Extracted from `com/weightwatchers/community/connect/notifications/service/NotificationService.java:32` (`readNotifications`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/connect/notifications/service/NotificationService.java",
        "x-source-line": 32,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/onboarding/members/~/iaf/token": {
      "get": {
        "operationId": "Headers_59",
        "summary": "GET /api/v1/onboarding/members/~/iaf/token",
        "description": "Extracted from `com/weightwatchers/growth/iaf/data/token/IafApi.java:15` (`Headers`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/growth/iaf/data/token/IafApi.java",
        "x-source-line": 15,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/onboarding/members/~/settings/mp-details": {
      "get": {
        "operationId": "getMonthlyPassDetails_60",
        "summary": "GET /api/v1/onboarding/members/~/settings/mp-details",
        "description": "Extracted from `com/weightwatchers/growth/monthlypass/details/data/MonthlyPassApi.java:14` (`getMonthlyPassDetails`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/growth/monthlypass/details/data/MonthlyPassApi.java",
        "x-source-line": 14,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/poll_options/{poll_option_id}/votes": {
      "post": {
        "operationId": "vote_61",
        "summary": "POST /api/v1/poll_options/{poll_option_id}/votes",
        "description": "Extracted from `com/weightwatchers/community/post/data/network/PollVoteService.java:14` (`vote`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "poll_option_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/post/data/network/PollVoteService.java",
        "x-source-line": 14,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/posts": {
      "post": {
        "operationId": "createPost_62",
        "summary": "POST /api/v1/posts",
        "description": "Extracted from `com/weightwatchers/community/post/data/network/PostService.java:35` (`createPost`).",
        "tags": [
          "com"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "x-source-file": "com/weightwatchers/community/post/data/network/PostService.java",
        "x-source-line": 35,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/posts/{postId}": {
      "delete": {
        "operationId": "destroyPost_63",
        "summary": "DELETE /api/v1/posts/{postId}",
        "description": "Extracted from `com/weightwatchers/community/post/data/network/PostService.java:47` (`destroyPost`).",
        "tags": [
          "com"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
[...]
